.destinations-gallery {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;

  &__container {
    display: flex;
    width: calc(100% * 2);
    height: 100%;
    will-change: transform;
  }

  &__item {
    flex: 0 0 10%;
    width: 10%;
    height: 100%;
    position: relative;
  }

  &__image {
    object-fit: cover;
    object-position: center;
  }

  @media (max-width: 768px) {
    height: 200px;
  }
}

