@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.quick-action {
  @include button-reset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 105px;
  background-color: $text-primary;
  border-radius: $radius-lg;
  padding: $spacing-lg;
  color: white;
  font-size: 0.875rem;
  font-weight: 400;
  @include transition(all);

  &__icon {
    font-size: 32px !important;
    color: white !important;
    font-variation-settings:
      'FILL' 1,
      'wght' 200,
      'GRAD' 0,
      'opsz' 48 !important;
  }

  &:hover {
    background-color: #475569; // slate-600
  }
}
