@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.faq-item {
  border-bottom: 1px solid hsl(var(--border));
  padding: $spacing-lg 0;

  &:last-child {
    border-bottom: none;
  }

  &__question {
    @include button-reset;
    @include flex-between;
    width: 100%;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1b2340;
    @include transition(color);

    &:hover {
      color: hsl(var(--brand-primary));
    }
  }

  &__icon {
    color: hsl(var(--muted-foreground));
    @include transition(transform);
    flex-shrink: 0;

    &--open {
      transform: rotate(180deg);
    }
  }

  &__answer {
    margin-top: $spacing-md;
    font-size: 1rem;
    color: hsl(var(--muted-foreground));
    line-height: 1.6;
    padding-right: $spacing-2xl;
  }
}
